* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: normal;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #222;
}
header > h2 {
  margin-left: 20px;
  cursor: pointer;
}

#profile_wrap {
  width: 360px;
  background-color: antiquewhite;
  margin-top: 30px;
  margin-left: 655px;
  /* border-style: none; */
}
#profile_wrap .profile_box1 {
  padding: 30px;
  /* border: 1px solid #555; */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 auto;
}

/* #profile_wrap .profile_box1 .photo img {
  width: 130px;
  height: 130px;
} */
#profile_wrap .profile_box1 .right {
  font-size: 30px;
  /* display: flex; */
}
#profile_wrap .profile_box1 .right h1 {
  /* margin-bottom: 10px; */
  font-size: 30px;
}
#profile_wrap .profile_box1 .right p {
  font-size: 20px;
}

.commenttext {
  width: 360px;
  height: 160px;
  resize: none;
  background-color: aliceblue;
  text-align: center;
}

#nicknames {
  display: flex;
  margin-top: 15px;
}

#nickname p {
  text-align: center;
}

#myupdateBtn {
  width: 100px;
  margin-left: 120px;
}

#loginid {
  display: flex;
}
