#signup {
  text-align: center;
  background-color: antiquewhite;
  width: 400px;
  height: 400px;
  margin: auto;
  display: block;
  border-radius: 50px;
}

#signup input {
  height: 30px;
  width: 200px;
}

#test h2 {
  background-color: antiquewhite;
  width: 400px;
  height: 90px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  border-radius: 50px;
}
