<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이쁜홈</title>
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/post.css" />
    <link rel="stylesheet" type="text/css" href="../css/rollet.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <div class="intro">
      <header>
        <h2 id="homelogo" onclick="home()">MEGOSA</h2>
        <ul>
          <li id="date"></li>
          <li id="day"></li>
          <li id="time"></li>
          <li><a href="#"><img src="../img/pngwing.com.png" onclick="post()"></a></li>
          <li><a href="#"><img src="../img/pngegg.png" id="openModalBtn"></a></li>
          <div id="searchModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <form>
                <input class="serchinput" type="text" placeholder="검색어를 입력하세요">
                <button type="submit">검색</button>
              </form>
            </div>
          </div>
          <li><button>로그인</button></li>
          <li><button onclick="join()">회원가입</button></li>
        </ul>
      </header>
    </div>
    <section id="cardLists">
      </section>
    <script src=../js/time.js defer></script>
    <script src="../js/search.js" defer></script>
    <script src="../js/home.js" defer></script>
    <script src="../js/detailpost.js" defer></script>
    <script src="../js/category.js" defer></script>
    <script src="../js/allBtnLoad.js" defer></script>
    <script src="../js/login.js" defer></script>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
  </body>
</html>