<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>이쁜홈</title>
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <div class="intro">
      <header>
        <h2>MEGOSA</h2>
        <!-- 시간표시 어케합니까 -->
        <div id="time">현재시간표시</div>
        <nav>
          <!-- 아이콘으로 대체하기 , 링크 걸어주기 -->
          <ul>
            <li><a href="#">게시글작성</a></li>
            <li><a href="">검색</a></li>
            <li><a href="">로그인</a></li>
            <li><a href="">회원가입</a></li>
          </ul>
        </nav>
      </header>
    </div>
    <h1>MEGOSA</h1>
    <h1>우리 음식으로 소통해요! 메뉴를 고민하는 사람들 , MEGOSA</h1>

    <script src="넣어주기" type="module"></script>
    <script src=../js/time.js></script>
  </body>
</html>
