<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MEGOSA</title>
    <link rel="stylesheet" href="../css/home.css" />
  </head>
  <body>
    <div class="intro">
      <header>
        <h2 id="homelogo" onclick="home()">MEGOSA</h2>
        <ul>
          <li id="date"></li>
          <li id="day"></li>
          <li id="time"></li>
          <li><a href="#"><img src="../img/pngwing.com.png" onclick="post()"></a></li>
          <li><a href="#"><img src="../img/pngegg.png" id="openModalBtn"></a></li>
          <div id="searchModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <form>
                <input class="serchinput" type="text" placeholder="검색어를 입력하세요">
                <button type="submit">검색</button>
              </form>
            </div>
          </div>
          <li> <button onclick="showModal()">로그인</button></li>
          <div id="login_modal" class="login_modal">
            <div class="login_modal-content">
              <span class="login_close" onclick="hideModal()">&times;</span>
              <h2>로그인</h2>
              <form method="post" id="login">
                <label for="username">&nbsp;&nbsp;&nbsp;아이디 : </label>
                <input type="text" id="username" name="login_id" required><br><br>
                <label for="password">비밀번호 : </label>
                <input type="password" id="password" name="login_password" required><br><br>
                <button type="submit">로그인</button>
              </form>
                <button id="kakao_login">카카오톡으로 로그인하기</button>
                <img src="../img/카카오톡_로고_360.png" id="kakaologo">
            </div>
          </div>
          <li><button onclick="join()">회원가입</button></li>
        </ul>
      </header>
    </div>
    <h1>MEGOSA</h1>
    <h1>우리 음식으로 소통해요! "메뉴를 고민하는 사람들" , MEGOSA!</h1>
    <button id="startbutton" onclick="startBtn()">MEGOSA 시작하기</button>
    <div class="foodjpeg">
      <img src="../img/pexels-photo-3138578.jpeg" alt="이미지가 존재하지 않습니다.">
      <img src="../img/pexels-photo-17178421.jpeg" alt="이미지가 존재하지 않습니다.">
      <img src="../img/pexels-photo-2092906.jpeg" alt="이미지가 존재하지 않습니다.">
    </div>
    <script src=../js/time.js defer></script>
    <script src="../js/search.js" defer></script>
    <script src="../js/home.js" defer></script>
    <script src="../js/main.js" defer></script>
    <script src="../js/post.js" defer></script>
    <script src="../js/join.js" defer></script>
    <script src="../js/login.js" defer></script>
  </body>
</html>
