<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>게시글상세조회</title>
    <link rel="stylesheet" href="../css/seepost.css" />
  </head>
  <body>
    <div class="intro">
        <header>
            <h2>MEGOSA</h2>
            <div id="time">현재시간표시</div>
              <ul>
                <li><a href="#"></a><img src="/img/pngwing.com.png"></a></li>
                <li><a href="#"></a><img src="/img/pngegg.png" id="openModalBtn"></a></li>
                <div id="searchModal" class="modal">
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <form>
                      <input class="serchinput" type="text" placeholder="검색어를 입력하세요">
                      <button type="submit">검색</button>
                    </form>
                  </div>
                </div>
                <li><button href="">로그인</button></li>
                <li><button href="">회원가입</button></li>
              </ul>
          </header>
</div>  
<h1>제목을 입력해주세요.</h1>
<div>
  <label for="postId">게시글 ID:</label>
  <input type="text" id="postId" />
  <button onclick="fetchPost()">조회</button>
</div>
<div id="postContainer"></div>
    </body>



      <script src="넣어주기" type="module"></script>
      <script src=../js/time.js></script>
      <script src="../js/search.js"></script>
      <script src="../js/post.js"></script>