<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/user.css" />
    <link rel="stylesheet" href="../css/home.css" />
    <link rel="stylesheet" type="text/css" href="../css/main.css" />
    <link rel="stylesheet" type="text/css" href="../css/post.css" />
    <title>회원가입</title>
    <style></style>
  </head>
  <body>
    <div class="intro">
      <header>
        <h2 id="homelogo" onclick="home()">MEGOSA</h2>
        <ul>
          <li id="date"></li>
          <li id="day"></li>
          <li id="time"></li>
          <li><a href="#"><img src="../img/pngwing.com.png" onclick="post()"></a></li>
          <li><a href="#"><img src="../img/pngegg.png" id="openModalBtn" ></a></li>
          <div id="searchModal" class="modal">
            <div class="modal-content">
              <span class="close">&times;</span>
              <form id="search_modal">
                <input id="search_input" type="text" placeholder="검색어를 입력하세요">
                <button onclick="searchBtn()">검색</button>
              </form>
            </div>
          </div>
          <li><button>로그인</button></li>
          <li><button onclick="join()">회원가입</button></li>
        </ul>
      </header>
    </div>
    <div class="regist" id="test">
      <h2>회원가입</h2>
      <form method="post" id="signup">
        <p><input type="text" id="login_id" placeholder="ID" name="login_id" required/></p>
        <p><input type="text" id="nickname" placeholder="nickname" name="nickname" required/></p>
        <p>
          <input type="password" id="login_password" placeholder="Password" name="login_password" required/>
        </p>
        <p>
          <input type="password" id="confirm" placeholder="Password 확인" name="confirm" required/>
        </p>
        <button type="submit">회원가입</button>
      </form>
    </div>
    <script src=../js/time.js defer></script>
    <script src="../js/search.js" defer></script>
    <script src="../js/allBtnLoad.js" defer></script>
    <script src="../js/home.js" defer></script>
    <script src="../js/post.js" defer></script>
    <script src="../js/user.js" defer></script>
  </body>
</html>
