<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/user.css" />
    <title>회원가입</title>
    <style>
    </style>
</head>
<body>
    <div class="regist">
        <h2>회원가입</h2>
        <form method="post" action="">
            <p><input type="text" id="login_id" placeholder="ID"></p>
            <button>아이디중복검사</button>
            <p><input type="password" id="login_password" placeholder="Password"></p>
            <p><input type="password" id="confirm" placeholder="Password 확인"></p>
            <button>회원가입</button>
        </form>
    </div>
</body>
</html>